<div class="center hero-unit" style="padding-top: 40px">

  <% if current_user == nil %>
    <h1 style="font-family: 'DancingScript', cursive; color: #c64012">What The Gift?!</h1>
    <p style="font-family: 'OpenSans', cursive;">
     <em> ¿Necesitas hacer un regalo y no sabes qué elegir? ¿Se viene tu cumpleaños y deseás muchas cosas? </em>
      </p>
  <p style="font-family: 'OpenSans', cursive;">
      En <span style="font-family: 'DancingScript', cursive;font-size: 18px;">What the Gift?!</span> tenemos la solución: 
      <br/>
      Buscá regalos por afinidad, filtrá por tus intereses, y elegí dónde comprar
      <br/>
      Además podés armar un <em>wish-list</em> con lo que deseás para que tus amigos sepan qué regalarte.
    </p>
    <p style="font-family: 'OpenSans', cursive;">
      <strong>No pierdas más tiempo, ¡registrate e invita a tus amigos a participar!</strong>
    </p>
    <%= link_to "Creá tu cuenta!", '#', class: "btn btn-large btn-primary", onclick: "displayRegisterForm()" %>
  <% elsif current_user.respond_to?('_type') and current_user._type == 'User' %>
  <h1 style="font-family: 'DancingScript', cursive; color: #6d264c">What The Gift?!</h1>
    <%= image_tag 'logo-big.png', size: '280x280', style: 'display: block; margin: 0 auto; margin-bottom: 20px;' %>
    <%= link_to "Comenzá a encontrar regalos!", search_product_path, class: "btn btn-large btn-primary" %>
  <% elsif current_user.respond_to?('_type') and current_user._type == 'Seller' %>
  <h1 style="font-family: 'DancingScript', cursive; color: #6d264c">What The Gift?!</h1>
    <%= image_tag 'logo-big.png', size: '280x280', style: 'display: block; margin: 0 auto; margin-bottom: 20px;' %>
    <%= link_to "Administrá tus productos", my_products_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Registrate</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <!-- Tipo de usuario -->
      <div class="control-group">
        <label class="control-label">Tipo</label>
        <div class="controls">
          <select id="userType">
            <option value="none">Seleccione un tipo de usuario</option>
            <option value="/users/new">Usuario</option>
            <option value="/sellers/new">Vendedor</option>
          </select>
          <p id="notice" style="color: red"></p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning pull-left" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a id="signup-link" href="none"><button id="signup-button" class="btn btn-success" disabled="disabled">Crear</button></a>
  </div>
</div>

<script>
  function displayRegisterForm()
  {
    $('#registerModal').modal('toggle');
  }

  $('#userType').change(
    function() {
      if (this.value == "none") {
        document.getElementById("signup-button").disabled = true;
        document.getElementById("notice").innerHTML = "Campo obligatorio.";
      } else {
        document.getElementById("signup-button").disabled = false;
        document.getElementById("signup-link").href = this.value;
        document.getElementById("notice").innerHTML = "";
      }
    }
  );
</script>
