<h1>Iniciar sesión</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :session, url: sessions_path, :html => { :id => 'signin-form' } do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Iniciar sesion", class: "btn btn-large btn-primary" %>
    <% end %>
    <p><%= link_to "Olvidé mi usuario o contraseña", forgotten_user_path %></p>
  </div>
</div>

<script type="text/javascript">
  $('#signin-form').validate({
    rules: {
      "session[email]": {required: true},
      "session[password]": {required: true, minlength: 8}
    }
  })
</script>