<div class="container">
  <h2>Administrar Categorías</h2>
  <%= render 'shared/info_messages' %>

  <%= will_paginate @categories %>

  <table class="table table-striped table-hover">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="2">Acción</th>
    </tr>

    <% @categories.each do |cat| %>
      <tr class="users">
        <%= form_for cat, url: (cat), method: 'post' do |u| %>
          <td><%= cat.name %></td>
          <td><%= cat.description %></td>
          <td><%= link_to "Habilitar", enable_user_path(cat), method: :post, class: "btn btn-info btn-small" %></td>
          <td><%= u.submit "Deshabilitar", class: "btn btn-warning btn-small" %></td>
        <% end %>
      </tr>
    <% end %>

  </table>

  <%= will_paginate @categories %>

</div>