<h1>Login administradores</h1>
<p class="text-center"><%= link_to "Iniciar sesión", '#', class: "btn btn-primary", onclick: "adminLoginForm()" %></p>

<div id="adminModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

  </div>
  <div class="modal-footer">
      <%= f.submit "Iniciar sesion", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  function adminLoginForm()
  {
    $('#adminModal').modal('toggle');
  }
</script>