<h1>Login administradores</h1>
<p class="text-center"><%= link_to "Iniciar sesión", '#', class: "btn btn-primary", onclick: "adminLoginForm()" %></p>

<div id="adminModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Login Administrador</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span4 offset2">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <%= f.submit "Iniciar sesion", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>

<script>
  function adminLoginForm()
  {
    $('#adminModal').modal('toggle');
  }
</script>