<div class="container">
  <h2>Administrar Productos</h2>

  <%= render 'shared/info_messages' %>

  <%= will_paginate @selling_products %>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Vendedor</th>
        <th>Precio</th>
        <th>Motivo</th>
        <th colspan="2">Acción</th>
      </tr>
    </thead>

    <% @selling_products.each do |prod| %>
      <tr class="users">
        <%= form_for prod, url: disable_product_path(prod), method: 'post' do |p| %>
          <td><%= prod.product.name %></td>
          <td><%= prod.seller.full_name %></td>
          <td><%= prod.price %></td>
          <% if prod.banned %>
              <td><%= prod.banned_reason %></td>
            <% else %>
              <td><%= p.text_field :banned_reason %></td>
            <% end %>
          <% if prod.banned %>
            <td><%= link_to "Habilitar", enable_product_path(prod), method: :post, class: "btn btn-info btn-small" %></td>
            <td><button type="button" class="btn btn-warning btn-small" disabled="disabled">Deshabilitar</button></td>
          <% else %>
            <td><button type="button" class="btn btn-info btn-small" disabled="disabled">Habilitar</button></td>
            <td><%= p.submit "Deshabilitar", class: "btn btn-warning btn-small" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>

  </table>

  <%= will_paginate @selling_products %>

</div>