<div class="container">
  <h3 class="text-center">Administrar Vendedores</h3>
  <%= will_paginate @sellers %>

  <table class="table">
    <tr>
      <th>Vendedor</th>
      <th>E-mail</th>
      <th>Estado</th>
      <th>Motivo</th>
      <th colspan="2">Acción</th>
    </tr>

    <% id_gen = 0 %>
    <% @sellers.each do |seller| %>
      <tr class="users">
        <%= form_for seller, url: disable_seller_path(seller), method: 'post' do |s| %>
          <td><%= seller.full_name %></td>
          <td><%= seller.email %></td>
          <td><%= seller.active ? 'Habilitado' : 'Deshabilitado' %></td>

          <% if seller.banned %>
            <td><%= seller.banned_reason %></td>
          <% else %>
            <td><%= s.text_field :banned_reason, id: 'ban-reason-' + id_gen.to_s %></td>
          <% end %>

          <% if seller.banned %>
            <td><%= link_to "Habilitar", enable_seller_path(seller), method: :post, class: "btn btn-info btn-small" %></td>
            <td><button type="button" class="btn btn-warning btn-small" disabled="disabled">Deshabilitar</button></td>
          <% else %>
            <td><button type="button" class="btn btn-info btn-small" disabled="disabled">Habilitar</button></td>
            <td><%= s.submit "Deshabilitar", class: "btn btn-warning btn-small", onclick: "return validateReason(this.id);", id: 'ban-reason-btn-' + id_gen.to_s %></td>
          <% end %>
        <% end %>
      </tr>
      <% id_gen += 1 %>
    <% end %>

  </table>

  <%= will_paginate @sellers %>

</div>

<%= render 'error_modal' %>