<div class="container">
<h2>Administrar Usuarios</h2>

<%= will_paginate @users %>

<table class="table">
  <% @users.each do |user| %>
  <tr class="users">

      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= user.active ? 'Habilitado' : 'Deshabilitado' %></td>
      <% if user._type == 'User' %>
        <td><%= link_to "Deshabilitar", user_path(user), method: :delete, class: "btn btn-warning btn-small pull-right" %></td>
      <% else %>
        <td><%= link_to "Deshabilitar", seller_path(user), method: :delete, class: "btn btn-warning pull-right" %></td>
      <% end %>

    </tr>
  <% end %>

</table>

<%= will_paginate @users %>

</div>