<div class="container">
  <h3 class="text-center">Administrar Usuarios</h3>
  <%= render 'shared/info_messages' %>

  <%= will_paginate @users %>

  <table class="table table-striped table-hover">
    <tr>
      <th>Nombre</th>
      <th>E-mail</th>
      <th>Estado</th>
      <th>Motivo</th>
      <th colspan="2">Acción</th>
    </tr>

    <% @users.each do |user| %>
      <tr class="users">
        <%= form_for user, url: disable_user_path(user), method: 'post' do |u| %>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.banned ? 'Deshabilitado' : 'Habilitado' %></td>

          <% if user.banned %>
            <td><%= user.banned_reason %></td>
          <% else %>
            <td><%= u.text_field :banned_reason, :required => true %></td>
          <% end %>

          <% if user.banned %>
            <td><%= link_to "Habilitar", enable_user_path(user), method: :post, class: "btn btn-info btn-small" %></td>
            <td><button type="button" class="btn btn-warning btn-small" disabled="disabled">Deshabilitar</button></td>
          <% else %>
            <td><button type="button" class="btn btn-info btn-small" disabled="disabled">Habilitar</button></td>
            <td><%= u.submit "Deshabilitar", class: "btn btn-warning btn-small" %></td>
          <% end %>

        <% end %>
      </tr>
    <% end %>

  </table>

  <%= will_paginate @users %>

</div>