<fieldset>
  <legend><h4>Perfil</h4></legend>
  <div class="row">
    <div class="span4">
      <%= image_tag @user.avatar.url, size: "200x200", class: "img-polaroid img-rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <p class="text-center"><a class="btn btn-success btn-block" href="#changeAvatarModal" role="button" data-toggle="modal">Cambiar foto</a>
      </p>
    </div>
    <div class="span3"></div>
  </div>
  <div class="row">
    <div class="span9"><h4>Sobre mi</h4></div>
  </div>
  <div class="row">
    <div class="span9">
      <div class="row">
        <div class="span4"><strong>Nombre</strong></div>
        <div class="span5"><input type="text" value="<%= @user.first_name %>"></div>
      </div>
      <div class="row">
        <div class="span4"><strong>Apellido</strong></div>
        <div class="span5"><input type="text" value="<%= @user.last_name %>"></div>
      </div>
      <div class="row">
        <div class="span4"><strong>Razón Social</strong></div>
        <div class="span5"><input type="text" value="<%= @user.company_name %>" disabled></div>
      </div>
      <div class="row">
        <div class="span4"><strong>Locales</strong></div>
        <div class="span5"><input type="text" value="revisar"></div>
      </div>
      <div class="row">
        <div class="span4"><strong>Páginas Web</strong></div>
        <div class="span5"><input type="text" value="<%= @user.web %>"></div>
      </div>
      <div class="row">
        <div class="span4"><strong>Teléfono</strong></div>
        <div class="span5"><input type="text" value="revisar"></div>
      </div>
      <div class="row">
        <div class="span4"><strong>Observaciones</strong></div>
        <div class="span5"><input type="text" value="revisar"></div>
      </div>
      <div class="row">
        <div class="span3"></div>
        <div class="span2">
          <%= link_to "Confirmar cambios", current_user, class: "btn btn-success btn-block" %>
        </div>
        <div class="span2">
          <p class="text-center">
            <%= link_to "Cancelar cambios", current_user, class: "btn btn-warning btn-block" %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span12"><hr></div>
      </div>
      <div class="row">
        <div class="span4"><strong>Contraseña</strong></div>
        <div class="span5"><input type="text" placeholder="*********" disabled></div>
      </div>
      <div class="row">
        <div class="span4"></div>
        <div class="span3">
          <p class="text-center"><a class="btn btn-success btn-block" href="#changePasswordModal" role="button" data-toggle="modal">Cambiar Contraseña</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span12"><hr></div>
      </div>
      <div class="row">
        <div class="span4"><strong>E-mail</strong></div>
        <div class="span5"><input type="text" placeholder="<%= @user.email %>" disabled></div>
      </div>
      <div class="row">
        <div class="span4"></div>
        <div class="span3">
          <p class="text-center"><a class="btn btn-success btn-block" href="#changeEmailModal" role="button" data-toggle="modal">Cambiar e-mail</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<%= render template: 'shared/modals' %>