<fieldset>
  <legend><h4>Perfil</h4></legend>
  <div class="row">
    <div class="span4">
      <%= image_tag @user.avatar.url, size: "200x200", class: "img-polaroid img-rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <p class="text-center"><a class="btn btn-primary btn-block" href="#changeAvatarModal" role="button" data-toggle="modal"><i class="icon-camera icon-white"></i> Cambiar</a>
      </p>
    </div>
    <div class="span3"></div>
  </div>
  <div class="row">
    <div class="span9"><h4>Sobre mi</h4></div>
  </div>
  <div class="row">
    <div class="span9">
      <%= form_for @user, :html =>{:id => "seller_edit_form"} do |s| %>
      <div class="row">
        <div class="span4"><%= s.label :company_name, "Razón social", style: 'font-weight:bold' %></div>
        <div class="span5"><%= s.text_field :company_name %></div>
      </div>
      <div class="row">
        <div class="span4"><%= s.label :location, "Ubicación", style: 'font-weight:bold' %></div>
        <div class="span5"><%= s.text_field :location %></div>
      </div>
      <div class="row">
        <div class="span4"><%= s.label :web, "Página web", style: 'font-weight:bold' %></div>
        <div class="span5"><%= s.text_field :web %></div>
      </div>
      <div class="row">
        <div class="span4"><%= s.label :phone, "Teléfono", style: 'font-weight:bold' %></div>
        <div class="span5"><%= s.text_field :phone %></div>
      </div>
      <div class="row">
        <div class="span3"></div>
        <div class="span2">
          <%= s.submit "Confirmar", class: "btn btn-success btn-block" %>
        </div>
      <% end %>
        <div class="span2">
          <p class="text-center">
            <%= link_to "Cancelar", current_user, class: "btn btn-warning btn-block" %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span12"><hr></div>
      </div>
      <div class="row">
        <div class="span4"><strong>Contraseña</strong></div>
        <div class="span5"><input type="text" placeholder="*********" disabled></div>
      </div>
      <div class="row">
        <div class="span4"></div>
        <div class="span3">
          <p class="text-center"><a class="btn btn-primary btn-block" href="#changePasswordModal" role="button" data-toggle="modal"><i class="icon-lock icon-white"></i> Cambiar</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span12"><hr></div>
      </div>
      <div class="row">
        <div class="span4"><strong>E-mail</strong></div>
        <div class="span5"><input type="text" placeholder="<%= @user.email %>" disabled></div>
      </div>
      <div class="row">
        <div class="span4"></div>
        <div class="span3">
          <p class="text-center"><a class="btn btn-primary btn-block" href="#changeEmailModal" role="button" data-toggle="modal"><i class="icon-envelope icon-white"></i> Cambiar</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<%= render template: 'shared/modals' %>


<script type="text/javascript">
  $('#email-form').validate({
    rules: {
      "seller[email]": {required: true, email: true}
    }
  });

  $('#seller_edit_form').validate({
    rules: {
      "seller[company_name]": {required: true, minlength: 2},
      "seller[web]": { url: true }
    }
  });

  $('#password-modal').validate({
    rules: {
      "seller[password]": {required: true, minlength: 8},
      "seller[password_confirmation]": {required: true, minlength: 8}
    },
    onkeyup: false
  });

  function check_email(input) {
    if (input.value != document.getElementById('seller_password').value ) {
      input.setCustomValidity('Las contraseñas no coinciden.');
    } else {
      input.setCustomValidity('');
    }
  }
</script>