<% provide(:title, 'Crear vendedor') %>
<h1>Crear cuenta de vendedor</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user do |s| %>
      <%= render 'shared/error_messages' %>

      <%= s.label :email %>
      <%= s.text_field :email, oninput: 'check(this)' %>

      <%= s.label :password, 'Contraseña' %>
      <%= s.password_field :password, oninput: 'check(this)' %>

      <%= s.label :password_confirmation, 'Confirmar' %>
      <%= s.password_field :password_confirmation, oninput: 'check_email(this)' %>

      <%= s.label :company_name, 'Compañía' %>
      <%= s.text_field :company_name, oninput: 'check(this)' %>

      <%= s.label :web, 'Página web' %>
      <%= s.text_field :web %>

      <%= s.label :location, 'Ubicación' %>
      <%= s.text_field :location %>

      <%= s.label :phone, 'Teléfono' %>
      <%= s.text_field :phone %>

      <br />
      <%= s.submit "Crear", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<script>
  function check(input) {
    if (input.value == "") {
      input.setCustomValidity('Debes completar este campo.');
    } else {
      input.setCustomValidity('');
    }
  }

  function check_email(input) {
    if (input.value != document.getElementById('seller_password').value ) {
      input.setCustomValidity('Las contraseñas no coinciden.');
    } else {
      input.setCustomValidity('');
    }
  }

  $(document).ready( function() {
    var inputs = new Array();
    inputs[0] = document.getElementById('seller_email');
    inputs[1] = document.getElementById('seller_password');
    inputs[2] = document.getElementById('seller_password_confirmation');
    inputs[3] = document.getElementById('seller_company_name');
    for (i = 0; i < inputs.length; i++) {
      check(inputs[i]);
    }
  });
</script>