  <% provide(:title, 'Crear vendedor') %>
<h1>Crear cuenta de vendedor</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :html => { :id => 'new-seller' } do |s| %>
      <%= render 'shared/error_messages' %>

      <div class="control-group">
        <%= s.label :company_name, 'Compañía' %>
        <div class="controls">
          <%= s.text_field :company_name, oninput: 'check(this)' %>
        </div>
      </div>

      <div class="control-group">
        <%= s.label :email %>
        <div class="controls">
          <%= s.text_field :email, oninput: 'check(this)' %>
        </div>
      </div>

      <div class="control-group">
        <%= s.label :password, 'Contraseña' %>
        <div class="controls">
          <%= s.password_field :password, id: "password" %>
        </div>
      </div>

      <div class="control-group">
        <%= s.label :password_confirmation, 'Confirmar' %>
        <div class="controls">
          <%= s.password_field :password_confirmation %>
        </div>
      </div>

      <div class="control-group">
        <%= s.label :web, 'Página web' %>
        <div class="controls">
          <%= s.text_field :web %>
        </div>
      </div>

      <%= s.label :location, 'Ubicación' %>
      <%= s.text_field :location %>

      <div class="control-group">
        <%= s.label :phone, 'Teléfono' %>
        <div class="controls">
          <%= s.text_field :phone %>
        </div>
      </div>

      <br />
      <%= s.submit "Crear", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<script>
  $('#new-seller').validate({
    rules: {
      "seller[company_name]": {required: true, minlength: 2},
      "seller[email]": {required: true, email: true},
      "seller[password]": {required: true, minlength: 8},
      "seller[password_confirmation]": {equalTo: "#password"},
      "seller[web]": {url: true},
      "seller[phone]": {digits: true}
    },
    highlight: function(element) {
      $(element).closest('.control-group').removeClass('success').addClass('error');
    },
    success: function(element) {
      element
        .closest('.control-group').removeClass('error').addClass('success');
    }
  });
</script>