<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @seller.company_name %>
</p>

<p>
  <b>Email:</b>
  <%= @seller.email %>
</p>

<p>
  <b>Email:</b>
  <%= @seller.web %>
</p>

<%= link_to 'Edit', edit_user_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
