<div class="container">
  <div class="page-header text-center">
    <h3><%= @seller.company_name %></h3>
  </div>
</div>

<div class="container-fluid">
  <div class="span10 offset2">
    <div class="row">
      <div class="span4"><%= image_tag @seller.avatar, size: "512x512", class: "img-polaroid" %></div>
      <div class="span6">
        <p class="text-right">Página web: <a href="<%= @seller.web %>" target="_blank"><%= @seller.web %></a></p>
        <p class="text-right">E-mail: <%= @seller.email || "-" %></p>
        <p class="text-right">Ubicación: <%= @seller.location || "-" %></p>
        <p class="text-right">Teléfono: <%= @seller.phone || "-" %></p>
        <p class="text-right"><a href="/products/do_advanced_search?commit=Buscar&seller_enable=true&seller=<%= @seller.company_name %>">Ver todos los productos de <%= @seller.company_name %></a></p>
      </div>
    </div>
  </div>
</div>