<% content_for :activefriendprofile do %>
	class="active"
<% end %>

<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <fieldset>
            <form>
                <legend>Perfil</legend>
                <div class="row">
                    <div class="span3">
                        <%= image_tag(@friend.avatar, size: "250x250", class: "img-polaroid") %>
                    </div>
                    <div class="span6">
                    	<h4>Sobre mi</h4>
                        <div class="row">
                            <div class="span2"><strong>Nombre</strong></div>
                            <div class="span4"><%=@friend.whole_name%></div>
                        </div>
                        <div class="row">
                            <div class="span2"><strong>Ocupación</strong></div>
                            <div class="span4"><%=@friend.occupation%></div>
                        </div>
                        <div class="row">
                            <div class="span2"><strong>Pasatiempos</strong></div>
                            <div class="span4"><%= @friend.hobbies_string %></div>
                        </div>
                        <div class="row">
                            <div class="span2"><strong>E-mail</strong></div>
                            <div class="span4"><%=@friend.email%></div>
                        </div>
                        <div class="row">
                            <div class="span6"><hr></div>
                        </div>
                        <div class="row">
                            <% if not @pending_friends %>
                                <div class="span2">
                                    <a class="btn btn-primary" href="/friends/send-request/<%= @friend.id %>"><i class="icon-plus icon-white"></i> Agregar</a>
                                </div>
                            <% else %>
                                <% if  @request != nil and @request.accepted %>
                                    <div class="span2">
                                        <a class="btn btn-danger btn-block" href="/friends/unfriend/<%= @request.id %>" role="button" data-toggle="modal"><i class="icon-ban-circle icon-white"></i> Eliminar amigo</a>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
	                </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>

<div id="unfriendModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="unfriendModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="unfriendModalLabel">Eliminar amigo</h3>
  </div>
  <div class="modal-body">
    <p>¿Está seguro que desea eliminar a <strong>Jane Doe</strong> de sus amigos?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a href="/friends/1/unfriend" class="btn btn-danger">Eliminar</a>
  </div>
</div>
