<fieldset>
  <legend><h4>Perfil</h4></legend>
  <div class="row">
    <div class="span4">
      <%= image_tag @user.avatar.url, size: "200x200", class: "img-polaroid img-rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <p class="text-center"><a class="btn btn-primary btn-block" href="#changeAvatarModal" role="button" data-toggle="modal"><i class="icon-camera icon-white"></i> Cambiar</a>
      <% if current_user.avatar.instance.avatar_file_name != nil %>
        <p class="text-center"><a class="btn btn-danger btn-block" href="#deleteAvatarModal" role="button" data-toggle="modal">Eliminar foto</a>
      <% end %>
      </p>
    </div>
    <div class="span3"></div>
  </div>
  <div class="row">
    <div class="span9"><h4>Sobre mi</h4></div>
  </div>
  <div class="row">
    <div class="span9">

      <%= nested_form_for @user do |f| %>
        <div class="row">
          <div class="span4"><%= f.label :first_name, 'Nombre', style: 'font-weight:bold' %></div>
          <div class="span5"><%= f.text_field :first_name %></div>
        </div>

        <div class="row">
          <div class="span4"><%= f.label :last_name, 'Apellido', style: 'font-weight:bold' %></div>
          <div class="span5"><%= f.text_field :last_name %></div>
        </div>

        <div class="row">
          <div class="span4"><%= f.label :birthday, 'Cumpleaños', style: 'font-weight:bold' %></div>
          <div class="span5"><%= f.text_field :birthday, :type => :date, :start_year => (Date.current - 5.year).year, :end_year => (Date.current - 120.year).year, "required" => "true", :include_blank => true %>
          </div>
        </div>

        <div class="row">
          <div class="span4"><%= f.label :genre, 'Sexo', style: 'font-weight:bold' %></div>
          <div class="span5">
            <%= f.select(:genre, options_for_select([['Masculino', 'Hombre'], ['Femenino', 'Mujer']], @user.genre)) %>
          </div>
        </div>

          <div id="hobby-boxes">
            <div class="row">
              <div class="span4"><%= f.label :hobbies, 'Pasatiempos y hobbies', style: 'font-weight:bold' %></div>

              <div class="span5">
              <%= render :template => 'users/hobbies-select' %>
              </div>
              <div class="span4"><%= f.label :hobbies, 'Otros pasatiempos y hobbies', style: 'font-weight:bold' %></div>

              <%= f.fields_for :hobbies do |h| %>
                <div class="span5 offset4"><%= h.text_field :name %>
                <%= h.link_to_remove '<i class="icon-remove"></i>'.html_safe %></div>
              <% end %>
              <%= f.link_to_add '<i class="icon-plus"></i>'.html_safe, :hobbies %>
            </div>
          </div>
        <div class="row">
          <div class="span2 offset3">
            <p class="text-center">
              <%= f.submit "Confirmar", class: "btn btn-success btn-block", onclick: "return validateEdit();" %>
            </p>
          </div>
          <div class="span2">
            <p class="text-center">
              <%= link_to "Cancelar", '/profile', class: "btn btn-danger btn-block" %>
            </p>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="span12"><hr></div>
      </div>

      <div class="row">
        <div class="span4"><strong>Contraseña</strong></div>
        <div class="span5"><input type="text" placeholder="*********" disabled></div>
      </div>
      <div class="row">
        <div class="span4"></div>
        <div class="span3">
          <p class="text-center"><a class="btn btn-primary btn-block" href="#changePasswordModal" role="button" data-toggle="modal"><i class="icon-lock icon-white"></i> Cambiar</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span12"><hr></div>
      </div>
      <div class="row">
        <div class="span4"><strong>E-mail</strong></div>
        <div class="span5"><input type="text" placeholder="<%= @user.email %>" disabled></div>
      </div>
      <div class="row">
        <div class="span4"></div>
        <div class="span3">
          <p class="text-center"><a class="btn btn-primary btn-block" href="#changeEmailModal" role="button" data-toggle="modal"><i class="icon-envelope icon-white"></i> Cambiar</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<div id="signupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="changePhotoLabel">Error</h3>
  </div>
  <div class="modal-body">
    <p id="signupError"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
  </div>
</div>

<%= render template: 'shared/modals' %>

<script>
  function validateEdit()
  {
    var birthday = $('#user_birthday').val();

    if (!isPastDate(birthday))
    {
      $('#signupError').html('La fecha de nacimiento debe ser en el pasado');
      $('#signupModal').modal();
      return false;
    }
    return true;
  }

  function isPastDate(value) {
    var now = new Date();
    var target = new Date(value);

    if (now < target) {
        return false;
    }

    return true;
  }

  function check_email(input) {
    if (input.value != document.getElementById('user_password').value ) {
      input.setCustomValidity('Las contraseñas no coinciden.');
    } else {
      input.setCustomValidity('');
    }
  }

  $('#password-modal').validate({
    rules: {
      "user[password]": {required: true, minlength: 8},
      "user[password_confirmation]": {required: true, minlength: 8}
    },
    onkeyup: false
  });
</script>
