<select data-placeholder="Elegí tus hobbies..." class="chosen-select" name="selectedHobbies[]"  id= "selectedHobbies[]" value="<%= @selected_hobbies %>" multiple >
  <optgroup label="">
  <% @predefined_hobbies.each do |predefined_hobby| %>
    <% if predefined_hobby.isCategory %>
      </optgroup>
      <optgroup label="<%= predefined_hobby.name %>">
    <% else %>
      <% if @selected_hobbies != nil and @selected_hobbies.include?(predefined_hobby.name) %>
        <option value ="<%= predefined_hobby.name %>" selected><%= predefined_hobby.name %></option>
      <% else %>
        <option value ="<%= predefined_hobby.name %>"><%= predefined_hobby.name %></option>
      <% end %>
    <% end %>
  <% end %>
</select>

<script>
  $('.chosen-select').chosen();
</script>