<% provide(:title, 'Crear cuenta') %>
<h1>Crear cuenta</h1>

<div class="row">
  <div class="span6 offset3">
    <%= nested_form_for @user, :html => { :id => 'new-user' } do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name, 'Nombre' %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, 'Apellido' %>
      <%= f.text_field :last_name %>

      <%= f.label :birthday, 'Fecha de nacimiento' %>
      <%= f.text_field :birthday, :type => :date, :start_year => (Date.current - 5.year).year, :end_year => (Date.current - 120.year).year, "required" => "true", :include_blank => true %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password, id: "password" %>

      <%= f.label :password_confirmation, 'Confirmar' %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :genre, 'Sexo' %>
      <%= select_tag(:genre, options_for_select([['Masculino', 'Hombre'], ['Femenino', 'Mujer']])) %>

      <div id="hobby-boxes">

      <%= f.label :hobbies, 'Pasatiempos y hobbies' %>

      <%= render :template => 'users/hobbies-select' %>

      <%= f.label :hobbies, 'Otros pasatiempos y hobbies' %>
        <%= f.fields_for :hobbies do |h| %>
          <%= h.text_field :name %>
          <%= h.link_to_remove '<i class="icon-remove"></i>'.html_safe %>
        <% end %>
        <%= f.link_to_add '<i class="icon-plus"></i>'.html_safe, :hobbies %>
      </div>

      <br />
      <%= f.submit "Crear", class: "btn btn-primary", onclick: "return validateSignup();" %>
    <% end %>
  </div>
</div>

<script>
  $('.chosen-select').chosen();

  function validateSignup()
  {
    var birthday = $('#user_birthday').val();
    if (!isPastDate(birthday))
    {
      $('#signupError').html('La fecha de nacimiento debe ser en el pasado');
      $('#signupModal').modal();
      return false;
    }
    return true;
  }

  function isPastDate(value) {
    var now = new Date();
    var target = new Date(value);

    if (now < target) {
      return false;
    }

    return true;
  }

  $('#new-user').validate({
    rules: {
      "user[first_name]": {required: true, minlength: 2},
      "user[last_name]": {required: true, minlength: 2},
      "user[email]": {required: true, email: true},
      "user[password]": {required: true},
      "user[password_confirmation]": {equalTo: "#password"}
    }
  });
</script>

<div id="signupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="changePhotoLabel">Error</h3>
  </div>
  <div class="modal-body">
    <p id="signupError"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
  </div>
</div>