<% provide(:title, 'Crear cuenta') %>
<h1>Crear cuenta</h1>

<div class="row">
  <div class="span6 offset3">
    <%= nested_form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name, 'Nombre' %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, 'Apellido' %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, 'Confirmar' %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :occupation, 'Ocupación' %>
      <%= f.text_field :occupation %>

      <%= f.label :hobbies, 'Pasatiempos y hobbies' %>
      <a onclick="addHobbyBox()"><i class="icon-plus"></i></a>
      <a onclick="removeHobbyBox()"><i class="icon-remove"></i></a>


      <%= f.fields_for :hobbies do |h| %>
        <%= h.text_field :name %>
        <%= h.link_to_remove "Eliminar" %>
      <% end %>
      <%= f.link_to_add "Agregar hobby", :hobbies %>


      <br />
      <%= f.submit "Crear", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function addHobbyBox()
  {
    var item = document.createElement("li");
    var input = document.createElement("input");
    input.type = "text";
    input.id = "user_hobbies_attributes__name";
    input.name = "user[hobbies_attributes]​[]​[name]​";
    input.size = 30;
    item.appendChild(input);
    document.getElementById("hobby-list").appendChild(item);
  };

  function removeHobbyBox()
  {
    var hobby_list = document.getElementById("hobby-list");
    var list_items = hobby_list.getElementsByTagName("li");
    list_items[0].parentNode.removeChild(list_items[0]);
  };
</script>
