<% provide(:title, 'Crear cuenta') %>
<h1>Crear cuenta</h1>

<div class="row">
  <div class="span6 offset3">
    <%= nested_form_for(@user) do |f| %>
      <% @user.errors.delete(:password_digest) %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name, 'Nombre' %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, 'Apellido' %>
      <%= f.text_field :last_name %>

      <%= f.label :birthday, 'Fecha de nacimiento' %>
      <%= f.text_field :birthday, :type => :date, :start_year => (Date.current - 5.year).year, :end_year => (Date.current - 120.year).year, "required" => "true", :include_blank => true %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, 'Confirmar' %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :occupation, 'Ocupación' %>
      <%= f.text_field :occupation %>

      <div id="hobby-boxes">
      
      <%= f.label :hobbies, 'Pasatiempos y hobbies' %>
      
      <%= render :template => 'users/hobbies-select' %>

      <%= f.label :hobbies, 'Otros pasatiempos y hobbies' %>
        <%= f.fields_for :hobbies do |h| %>
          <%= h.text_field :name %>
          <%= h.link_to_remove '<i class="icon-remove"></i>'.html_safe %>
        <% end %>
        <%= f.link_to_add '<i class="icon-plus"></i>'.html_safe, :hobbies %>
      </div>

      <br />
      <%= f.submit "Crear", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $('.chosen-select').chosen();
</script>