<div class="row text-center">
		<fieldset>
	    	<legend>Buscar amigos</legend>
	  	</fieldset>
		<form class="form-search" method="post">
			<div class="input-append">
			  <input type="text" class="span8 input-medium search-query" name="search" value="<%= @search %>">
			  <button type="submit" class="btn">Buscar</button>
			</div>
		</form>
</div>
<div class="row">
	<div class="span8 offset2">
		<% if @friends.count > 0 %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th><p class="text-right">Foto</p></th>
          </tr>
        </thead>
        <tbody>
          <% @friends.each do |f| %>
          <tr class="friend-row">
            <td>
              <% if current_user.id != f.id %>
            	  <a class="btn btn-link" href="/friends/<%= f.id %>"><%= f.full_name %></a>
              <% else %>
                <a class="btn btn-link" href="/users/<%= f.id %>"><%= f.full_name %></a>
              <% end %>
              <% if (not current_user.is_friend f) and current_user.id != f.id %>
                <a class="add btn btn-primary btn-small" style="display: none" href="/friends/send-request/<%= f.id %>"><i class="icon-plus icon-white"></i><i class="icon-user icon-white"></i></a>
              <% end %>
            </td>
            <td><p class="text-right"><%= image_tag f.avatar, size: "80x80", class: "img-rounded" %></p></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
	</div>
</div>

<script>
$('tr.friend-row').hover(
	function () {
		$(this).find('a.add').show();
	},
	function () {
		$(this).find('a.add').hide();
	}
);
</script>