<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-user"></i> Perfil</a></li>
  <li><a href="#tab2" data-toggle="tab"><i class="icon-star"></i> Wish-list</a></li>
  <li><a href="#tab3" data-toggle="tab"><i class="icon-gift"></i> Regalos recibidos</a></li>
  <li><a href="#tab5" data-toggle="tab"><i class="icon-cog"></i> Preferencias</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab1">
    <form>
      <fieldset>
        <legend>
            <div class="row">
              <div class="span7">
              <h3>
                Perfil
                <a class="btn btn-small btn-warning pull-right" href="#deleteProfileModal" role="button" data-toggle="modal">Eliminar cuenta</a>
                <%= link_to "Editar perfil", edit_user_path(current_user), class: "btn btn-success btn-small pull-right" %>
              </h3>
              </div>
            </div>
        </legend>
        <div class="row">
          <div class="span4">
            <%= image_tag @user.avatar, size: "200x200", class: "img-polaroid img-rounded" %>
          </div>
        </div>
        <div class="row">
          <div class="span9"><h4>Sobre mi</h4></div>
        </div>
        <div class="row">
          <div class="span9">
            <div class="row">
              <div class="span4"><strong>Nombre</strong></div>
              <div class="span5"><%= @user.first_name %></div>
            </div>
            <div class="row">
              <div class="span4"><strong>Apellido</strong></div>
              <div class="span5"><%= @user.last_name %></div>
            </div>
            <div class="row">
              <div class="span4"><strong>Cumpleaños</strong></div>
              <div class="span5"><%= @user.birthday %></div>
            </div>
            <div class="row">
              <div class="span4"><strong>Ocupación</strong></div>
              <div class="span5"><%= @user.occupation %></div>
            </div>
            <div class="row">
              <div class="span4"><strong>Pasatiempos</strong></div>
              <% if @user.hobbies != nil %>
                <div class="span5">
                  <% @user.hobbies.entries.each do |h| %>
                    <% if h == @user.hobbies.entries.last %>
                      <%= h.name %>
                    <% else %>
                      <%= h.name + ', ' %>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <div class="span5">No has registrado pasatiempos.</div>
              <% end %>
            </div>
            <div class="row">
              <div class="span12"><hr></div>
            </div>
            <div class="row">
              <div class="span4"><strong>E-mail</strong></div>
              <div class="span5"><input type="text" placeholder=<%= @user.email %> disabled></div>
            </div>
            <div class="row">
              <div class="span4"></div>
              <div class="span3">
                <p class="text-center"><a class="btn btn-success btn-block" href="#changeEmailModal" role="button" data-toggle="modal">Cambiar e-mail</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="tab-pane" id="tab2">
    <form>
      <fieldset>
        <legend>Wishlist</legend>
        <ul class="thumbnails">
          <% @products = @user.wishlist %>
          <%= render :template => 'products/list' %>
        </ul>
      </fieldset>
    </form>
  </div>
  <div class="tab-pane" id="tab3">
    <form>
      <fieldset>
        <legend>Regalos recibidos</legend>
      </fieldset>
      <%= render :template => 'products/gifts' %>
    </form>
  </div>
  <div class="tab-pane" id="tab4">
    <form>
      <fieldset>
        <legend>Buscar amigos</legend>
      </fieldset>
      <form class="form-search">
        <div class="input-append">
          <input type="text" class="span8 input-medium search-query">
          <button type="submit" class="btn">Buscar</button>
        </div>
      </form>
      <div class="row">
        <div class="span5"><a href="">Nombre amigo 1</a></div>
        <div class="span2"></div>
        <div class="span2"><img src="http://lorempixel.com/64/64/people/4" class="img-rounded"></div>
      </div>
      <div class="row">
        <div class="span5"><a href="">Nombre amigo 2</a></div>
        <div class="span2"></div>
        <div class="span2"><img src="http://lorempixel.com/64/64/people/2" class="img-rounded"></div>
      </div>
      <div class="row">
        <div class="span5"><a href=""></a></div>
        <div class="span2"></div>
        <div class="span2"></div>
      </div>
      <hr>
    </form>
  </div>
</div>

<%= render template: 'shared/modals' %>
