<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-user"></i> Perfil</a></li>
  <li><a href="#tab2" data-toggle="tab"><i class="icon-star"></i> Wish-list</a></li>
  <li><a href="#tab3" data-toggle="tab"><i class="icon-gift"></i> Regalos recibidos</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab1">
    <fieldset>
      <legend>
          <div class="row">
            <div class="span7">
            <h3>
              Perfil
              <a class="btn btn-small btn-warning pull-right" href="#deleteProfileModal" role="button" data-toggle="modal">Eliminar cuenta</a>
              <%= link_to "Editar perfil", edit_user_path(current_user), class: "btn btn-success btn-small pull-right" %>
            </h3>
            </div>
          </div>
      </legend>
      <div class="row">
        <div class="span4">
          <%= image_tag @user.avatar, size: "200x200", class: "img-polaroid img-rounded" %>
        </div>
      </div>
      <div class="row">
        <div class="span9"><h4>Sobre mi</h4></div>
      </div>
      <div class="row">
        <div class="span9">
          <div class="row">
            <div class="span4"><strong>Nombre</strong></div>
            <div class="span5"><%= @user.first_name %></div>
          </div>
          <div class="row">
            <div class="span4"><strong>Apellido</strong></div>
            <div class="span5"><%= @user.last_name %></div>
          </div>
          <div class="row">
            <div class="span4"><strong>Cumpleaños</strong></div>
            <div class="span5"><%= @user.birthday %></div>
          </div>
          <div class="row">
            <div class="span4"><strong>Email</strong></div>
            <div class="span5"><%= @user.email %></div>
          </div>
          <div class="row">
            <div class="span4"><strong>Sexo</strong></div>
            <div class="span5"><%= @user.genre %></div>
          </div>
          <div class="row">
            <div class="span4"><strong>Pasatiempos</strong></div>
            <% if @user.hobbies != nil %>
              <div class="span5">
                <% @user.hobbies.entries.each do |h| %>
                  <% if h == @user.hobbies.entries.last %>
                    <%= h.name %>
                  <% else %>
                    <%= h.name + ', ' %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="span5">No has registrado pasatiempos.</div>
            <% end %>
          </div>
        </div>
      </div>
      </fieldset>
  </div>

  <div class="tab-pane" id="tab2">
    <fieldset>
      <legend>Wishlist</legend>
    </fieldset>
    <ul class="wishlist">
      <% @products = @user.wishlist.paginate(:page => params[:page], :per_page => 30) %>
      <% if not @products.empty? %>
        <%= render :template => 'products/list' %>
      <% else %>
        <div class="alert alert-info">
          Aún no has guardado ningún regalo en tu wishlist
        </div>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane" id="tab3">
      <fieldset>
        <legend>Regalos recibidos</legend>
      </fieldset>
      <% @gifts = @user.gifts.paginate(:page => params[:page], :per_page => 12) %>
      <%= render :template => 'products/gifts' %>
  </div>
</div>

<%= render template: 'shared/modals' %>
