<fieldset>
  <legend><h4>Mi Producto</h4></legend>
  <%= form_tag update_selling_products_path(:id => @selling_product.id), method: "put", :id => 'precio-box' do %>

  <div class="row">
    <div class="span4"><strong>Nombre</strong></div>
    <div class="span5"><input type="text" value="<%=@selling_product.product.name %>" disabled></div>
  </div>

  <div class="row">
    <div class="span4"><strong>Descripción</strong></div>
    <div class="span5"><input type="text" value="<%=@selling_product.product.description %>" disabled></div>
  </div>

  <div class="row">
    <div class="span4"><strong>Marca</strong></div>
    <div class="span5"><input type="text" value="<%=@selling_product.product.brand %>" disabled></div>
  </div>

  <div class="row">
    <div class="span4"><strong>Categorías</strong></div>
    <div class="span5"><input type="text" value="<%=@selling_product.product.categories_string %>" disabled></div>
  </div>

 <div class="row">
    <div class="control-group">
      <div class="span4"><strong>Precio</strong></div>
      <div class="controls">
        <div class="span5"><input type="text" value="<%=@selling_product.price %>" name="price"></div>
      </div>
    </div>
  </div>

  <div class="span2 offset3 text-right">
      <%= submit_tag("Confirmar", class: 'btn btn-success') %>
  </div>
  <div class="span2">
      <%= link_to "Cancelar", my_products_path, class: 'btn btn-warning' %>
  </div>

  <% end %>
</fieldset>

<script type="text/javascript">
  jQuery.validator.addMethod("greaterThanZero", function(value, element) {
    return this.optional(element) || (parseFloat(value) > 0);
  }, "El precio debe ser mayor a cero.");

  $('#precio-box').validate({
    rules: {
      "price": {required: true, number: true, greaterThanZero: true}
    },
    highlight: function(element) {
      $(element).closest('.control-group').removeClass('success').addClass('error');
    },
    success: function(element) {
      element
        .closest('.control-group').removeClass('error').addClass('success');
    }
  });
</script>