<div id="deleteProfileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteProfileModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="deleteProfileModalLabel">Eliminar perfil</h3>
  </div>
  <div class="modal-body">
    <p>¿Está seguro de eliminar su cuenta?</p>
    <p>Podrá reactivarla en cualquier momento.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <% if @user._type == 'User' %>
      <%= link_to "Aceptar", user_path(current_user), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Aceptar", seller_path(current_user), method: :delete, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<div id="changeAvatarModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changePhotoModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="changePhotoLabel">Agregar foto</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@user, :url => @change_avatar_path, :html => {:multipart => true}) do |f| %>
      <div class="form-horizontal">
          <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <%= f.submit "Cambiar", :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div id="changePasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="changePasswordLabel">Cambiar Password</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputPassword">Contraseña</label>
        <div class="controls">
          <input type="text" id="inputPassword" placeholder="Nueva Contraseña">
        </div>
        <label class="control-label" for="inputPwdConf">Confirmar Contraseña</label>
        <div class="controls">
          <input type="text" id="inputPwdConf" placeholder="Repetir Contraseña">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Confirmar</button>
  </div>
</div>

<div id="changeEmailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changeEmailLabel" aria-hidden="true">
  <%= form_for @user, :url => @update_email_path, :html => { :id => 'email-form' } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="changeEmailLabel">Cambiar e-mail</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Confirmar", :class => 'btn btn-primary' %>
  </div>
  <% end %>
</div>