<a href="<%= admin_category_edit_path %>">Volver</a>
<h3>Editar categoría<h3>

<%= form_for @category, :html => { :id => 'edit-category-val'} do |c| %>

  <div class="control-group">
    <%= c.label :name, "Nombre" %>
    <div class="controls">
      <%= c.text_field :name %>
    </div>
  </div>

  <%= c.label :description, "Descripción" %>
  <%= c.text_field :description %>

  <%= c.submit "Guardar", class: "btn btn-success btn-small" %>

<% end %>

<script>
  $('#edit-category-val').validate({
    rules: {
      "category[name]": {required: true, minlength: 2}
    },
    highlight: function(element) {
      $(element).closest('.control-group').removeClass('success').addClass('error');
    },
    success: function(element) {
      element
        .closest('.control-group').removeClass('error').addClass('success');
    }
  });
</script>