<a href="/admins/category_edit">Volver</a>
<h3>Editar categoría<h3>

<%= form_for @category, :html => { :id => 'edit-category-val'} do |c| %>
  <%= c.label :name, "Nombre" %>
  <%= c.text_field :name %>

  <%= c.label :description, "Descripción" %>
  <%= c.text_field :description %>

  <%= c.submit "Guardar", class: "btn btn-success btn-small" %>

<% end %>

<script>
  $('#edit-category-val').validate({
    rules: {
      "category[name]": {required: true, minlength: 2}
    }
  });
</script>