<% @products.each do |product| %>
    <li class="span2">
      <div class="thumbnail gift">
        <%= image_tag "gift1.jpg", size: '100x100', class: 'img-rounded' %>
		<h5><%= product.name %></h5>
		<p><small><%= product.description %></small></p>  
        <p class="bottom">
          <% if signed_in? and not current_user.wishlist.include? product %>
            <a href="<%=product_add_to_wishlist_path(:id => product.id)%>" class="btn btn-danger btn-mini btn-primary pull-left"><i class="icon-heart icon-white"></i></a>
          <% end %>
            <%= link_to 'Ver más', product_path(:id => product.id), :class => 'btn btn-mini btn-primary pull-right' %>
        </p>
      </div>
    </li>
<% end %>