    <div class="container">
      <div class="page-header">
        <h2>¡Encuentra tus regalos! <br><small>Aquí podrás buscar regalos por categoría</small></h2>
      </div>

      <div id="advanced-search-form" style="display: none;">
        <div class="search form form-inline span6">
          <%= form_tag(do_advanced_search_product_path, method: "get") do %>
          <div class="row" style="margin-bottom: 12px">
            <div class="span6">
              <%= check_box_tag(:brand_enable,true , @brand_enable) %>
              <%= label_tag(:brand, "Marca") %>
              <%= text_field_tag(:brand, @brand) %>
            </div>
          </div>
          <div class="row" style="margin-bottom: 12px">
            <div class="span6">
              <%= check_box_tag(:seller_enable,true , @seller_enable) %>
              <%= label_tag(:seller, "Vendedor") %>
              <%= text_field_tag(:seller, @seller) %>
            </div>
          </div>
          <div class="row" style="margin-bottom: 12px">
            <div class="span6">
              <%= check_box_tag(:category_enable,true , @category_enable) %>
              <%= label_tag(:category, "Categoría") %>
              <%= text_field_tag(:category, @category) %>
            </div>
          </div>
          <div class="row" style="margin-bottom: 12px">
            <div class="span6">
              <%= check_box_tag(:price_enable,true , @price_enable) %>
              <%= label_tag(:price, "Rango de Precios") %>
              <%= text_field_tag(:price_from, @price_from, placeholder: "desde", class: "input-small") %>
              <%= text_field_tag(:price_to, @price_to, placeholder:"hasta", class: "input-small") %>
            </div>
          </div>
          <div class="row" style="margin-bottom: 12px">
            <div class="span6">
              <%= check_box_tag(:free_text_enable,true , @free_text_enable) %>
              <%= label_tag(:free_text, "Palabras Claves") %>
              <%= text_field_tag(:free_text, @free_text) %>
            </div>
          </div>
          <div class="row" style="margin-bottom: 12px">
            <div class="span6">
              <%= submit_tag("Buscar", onclick: "return validateSearch();") %>
            </div>
          </div>
          <input type="hidden" name="query" value="<%=@query%>" >
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <form class="form-search" action="<%= do_search_product_path %>">
            <div class="input-append">
              <a class="btn btn-primary" id="advanced-search">Búsqueda avanzada</a>
              <input type="text" class="span8 search-query" name="query" value="<%=@query%>" >
              <button type="submit" class="btn">Buscar</button>

              <input type="hidden" name="brand" value="<%=@brand%>" >
              <input type="hidden" name="brand_enable" value="<%=@brand_enable%>" >
              <input type="hidden" name="seller" value="<%=@seller%>" >
              <input type="hidden" name="seller_enable" value="<%=@seller_enable%>" >
              <input type="hidden" name="category" value="<%=@category%>" >
              <input type="hidden" name="category_enable" value="<%=@category_enable%>" >
              <input type="hidden" name="price_from" value="<%=@price_from%>" >
              <input type="hidden" name="price_to" value="<%=@price_to%>" >
              <input type="hidden" name="price_enable" value="<%=@price_enable%>" >
              <input type="hidden" name="free_text" value="<%=@free_text%>" >
              <input type="hidden" name="free_text_enable" value="<%=@free_text_enable%>" >
              
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%= render :template => 'products/categories_sidebar' %>
        <div class="span10">
            <% if not @products.empty? %>
              <%= render :template => 'products/list' %>
            <% elsif %>
              <div class="alert alert-info">
                No se han encontrado productos para su búsqueda
              </div>
            <% end %>
        </div>
    </div>

<script>
  $('#advanced-search').click(
    function() {
      if ($('#advanced-search-form').css('display') == 'none') {
        $('#advanced-search-form').slideDown();
      } else {
        $('#advanced-search-form').slideUp();
      }
    }
  );

  function validateSearch()
  {
    var price_from = $('#price_from').val();
    var price_to = $('#price_to').val();
    
    if (price_from != '') 
    {
      if ((price_from != '' && isNaN(price_from)) || parseFloat(price_from) <= 0) 
      {
        $('#priceError').html('El precio desde debe ser un número positivo');
        $('#priceModal').modal();
        return false;
      }
    }
    if (price_to != '') {
      if ((price_to != '' && isNaN(price_to)) || parseFloat(price_to) <= 0) 
      {
        $('#priceError').html('El precio hasta debe ser un número positivo');
        $('#priceModal').modal();
        return false;
      }
    }
    if (price_from != '' && price_to != '')
    {
      if (parseFloat(price_from) > parseFloat(price_to))
      {
        $('#priceError').html('El precio desde no puede superar al precio hasta');
        $('#priceModal').modal();
        return false;
      }
    } 

    return true;
  }
</script>



<div id="priceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="priceModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="changePhotoLabel">Error</h3>
  </div>
  <div class="modal-body">
    <p id="priceError"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
  </div>
</div>