<div class="container">
  <div class="page-header">
    <h1><%= @product.name %></h1>
  </div>
</div>

<div class="container-fluid">
  <div class="span10">
    <div class="row">
      <div class="span4"><%= image_tag @product.photo, size: "512x512", class: "img-polaroid" %></div>
      <div class="span6">
        <% if not @product.selling_products.empty? %>
          <h3 class="text-right">Vendido por: </h3>
          <% for sp in @product.selling_products %>
            <h4 class="text-right">
              <a href="/sellers/<%= sp.seller.id %>/showroom"><%= sp.seller.company_name + ' ($'+sp.price.to_s+')' %></a>
            </h4>
          <% end %>
        <% else %>
           <h3 class="text-right">No disponible</h3>
        <% end %>
        <% if current_user._type == 'User'%>
          <% if not current_user.products_from_gifts.include? @product %>
            <p class="text-right">
              <a href="<%= product_add_to_gifts_path(:id => @product.id) %>" class="btn btn-success"><i class="icon-gift icon-white">
              </i> Lo tengo!</a>
            </p>
          <% end %>
          <% if not current_user.wishlist.include? @product and
                not current_user.products_from_gifts.include? @product %>
            <p class="text-right">
            <%= link_to "<i class='icon-white icon-heart'></i> Wishlist".html_safe, product_add_to_wishlist_path(:id => @product.id),  
                :method => :post, :class => 'btn btn-danger' %>
            </p>
          <% elsif current_user.wishlist.include? @product %>
            <p class="text-right">
              <%= link_to "<i class='icon-thumbs-down icon-white'></i> Ya no lo quiero".html_safe, product_remove_from_wishlist_path(:id => @product.id),  :method => :delete,
                :class => 'btn btn-warning' %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span10">
        <h3>Descripción</h3>
        <hr>
        <p><%= @product.description %></p>
      </div>
    </div>
  </div>
</div>