<div class="container">
  <div class="page-header">
    <h2><%= @product.name %></h2>
  </div>
</div>

<div class="container-fluid">
  <div class="span10 offset2">
    <div class="row">
      <div class="span4"><%= image_tag @product.photo, size: "512x512", class: "img-polaroid" %></div>
      <div class="span6">
        <h3 class="text-right">Vendido por: </h3>
        <h4 class="text-right">
          <% for seller in @product.sellers_list %>
            <a href="/sellers/<%= seller.id %>/showroom"><%= seller.company_name %></a>
          <% end %>
        </h4>
        <h4 class="text-right">Desde $<%= @product.lowest_price %> </h4>
        <% if current_user._type == 'User'%>
          <% if not current_user.products_from_gifts.include? @product %>
            <p class="text-right">
              <a href="<%= product_add_to_gifts_path(:id => @product.id) %>" class="btn btn-success"><i class="icon-plus">
              </i> Lo tengo!</a>
            </p>
          <% end %>
          <% if not current_user.wishlist.include? @product and
                not current_user.products_from_gifts.include? @product %>
            <p class="text-right">
                <a href="<%= product_add_to_wishlist_path :id => @product.id %>" class="btn btn-danger" type="button"><i class="icon-white icon-heart"></i> Wishlist</a>
            </p>
          <% elsif current_user.wishlist.include? @product %>
            <p class="text-right">
              <%= link_to "<i class='icon-thumbs-down icon-white'></i> Ya no lo quiero".html_safe, product_remove_from_wishlist_path(:id => @product.id), method: :delete,
                :class => 'btn btn-warning' %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span10">
        <h3>Descripción</h3>
        <hr>
        <p><%= @product.description %></p>
      </div>
    </div>
  </div>
</div>