<%= render template: 'profile/modals' %>

<form>
  <fieldset>
    <legend><h4>Perfil</h4></legend>
    <div class="row">
      <div class="span4">
          <%= image_tag @user.avatar.url, size: "200x200", class: "img-polaroid img-rounded" %>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <p class="text-center"><a class="btn btn-success btn-block" href="#changeAvatarModal" role="button" data-toggle="modal">Cambiar foto</a>
        <p class="text-center"><a class="btn btn-danger btn-block" href="<%= change_avatar_path %>" role="button" data-toggle="modal">Eliminar foto</a>
        </p>
      </div>
      <div class="span3"></div>
    </div>
    <div class="row">
      <div class="span9"><h4>Sobre mi</h4></div>
    </div>
    <div class="row">
      <div class="span9">

<%= nested_form_for(@user) do |f| %>
<div class="row">
  <div class="span4"><%= f.label :first_name, 'Nombre', style: 'font-weight:bold' %></div>
  <div class="span5"><%= f.text_field :first_name %></div>
</div>

<div class="row">
  <div class="span4"><%= f.label :last_name, 'Apellido', style: 'font-weight:bold' %></div>
  <div class="span5"><%= f.text_field :last_name %></div>
</div>

<div class="row">
  <div class="span4"><%= f.label :occupation, 'Ocupación', style: 'font-weight:bold' %></div>
  <div class="span5"><%= f.text_field :occupation %></div>
</div>

<div class="row">
  <div id="hobby-boxes">
    <%= f.label :hobbies, 'Pasatiempos y hobbies' %>

    <%= f.fields_for :hobbies do |h| %>
      <%= h.text_field :name %>
      <%= h.link_to_remove '<i class="icon-remove"></i>'.html_safe %>
    <% end %>
    <%= f.link_to_add '<i class="icon-plus"></i>'.html_safe, :hobbies %>
  </div>

        <div class="row">
          <div class="span3"></div>
          <div class="span2">
            <p class="text-center"><%= f.submit "Confirmar cambios", class: "btn btn-success btn-block" %>
            </p>
          </div>
          <div class="span2">
            <p class="text-center"><a class="btn btn-warning btn-block" href="/profile">Cancelar cambios</a>
            </p>
          </div>
        </div>
<% end %>

        <div class="row">
          <div class="span12"><hr></div>
        </div>

        <div class="row">
          <div class="span4"><strong>Contraseña</strong></div>
          <div class="span5"><input type="text" placeholder="*********" disabled></div>
        </div>
        <div class="row">
          <div class="span4"></div>
          <div class="span3">
            <p class="text-center"><a class="btn btn-success btn-block" href="#changePasswordModal" role="button" data-toggle="modal">Cambiar Contraseña</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span12"><hr></div>
        </div>
        <div class="row">
          <div class="span4"><strong>E-mail</strong></div>
          <div class="span5"><input type="text" placeholder="<%= @user.email %>" disabled></div>
        </div>
        <div class="row">
          <div class="span4"></div>
          <div class="span3">
            <p class="text-center"><a class="btn btn-success btn-block" href="#changeEmailModal" role="button" data-toggle="modal">Cambiar e-mail</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

