<%= render template: 'profile/modals' %>

<form>
  <fieldset>
    <legend><h4>Perfil</h4></legend>
    <div class="row">
      <div class="span4">
          <%= image_tag @user.avatar.url, size: "200x200", class: "img-polaroid img-rounded" %>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <p class="text-center"><a class="btn btn-success btn-block" href="#changeAvatarModal" role="button" data-toggle="modal">Cambiar foto</a>
        <p class="text-center"><a class="btn btn-danger btn-block" href="<%= change_avatar_path %>" role="button" data-toggle="modal">Eliminar foto</a>
        </p>
      </div>
      <div class="span3"></div>
    </div>
    <div class="row">
      <div class="span9"><h4>Sobre mi</h4></div>
    </div>
    <div class="row">
      <div class="span9">
        <div class="row">
          <div class="span4"><strong>Nombre</strong></div>
          <div class="span5"><input type="text" value="<%= @user.first_name %>"></div>
        </div>
        <div class="row">
          <div class="span4"><strong>Apellido</strong></div>
          <div class="span5"><input type="text" value="<%= @user.last_name %>"></div>
        </div>
        <div class="row">
          <div class="span4"><strong>Ocupación</strong></div>
          <div class="span5"><input type="text" value="<%= @user.occupation %>"></div>
        </div>
        <div class="row">
          <div class="span4"><strong>Pasatiempos</strong></div>
          <div class="span5"><input type="text" value="Fútbol, programación, arte"></div>
        </div>
        <div class="row">
          <div class="span3"></div>
          <div class="span2">
            <p class="text-center"><a class="btn btn-success btn-block" href="/profile">Confirmar cambios</a>
            </p>
          </div>
          <div class="span2">
            <p class="text-center"><a class="btn btn-warning btn-block" href="/profile">Cancelar cambios</a>
            </p>
          </div>
        </div>
         <div class="row">
          <div class="span12"><hr></div>
        </div>
        <div class="row">
          <div class="span4"><strong>Contraseña</strong></div>
          <div class="span5"><input type="text" placeholder="*********" disabled></div>
        </div>
        <div class="row">
          <div class="span4"></div>
          <div class="span3">
            <p class="text-center"><a class="btn btn-success btn-block" href="#changePasswordModal" role="button" data-toggle="modal">Cambiar Contraseña</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span12"><hr></div>
        </div>
        <div class="row">
          <div class="span4"><strong>E-mail</strong></div>
          <div class="span5"><input type="text" placeholder="johndoe@gmail.com" disabled></div>
        </div>
        <div class="row">
          <div class="span4"></div>
          <div class="span3">
            <p class="text-center"><a class="btn btn-success btn-block" href="#changeEmailModal" role="button" data-toggle="modal">Cambiar e-mail</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

