<!-- Contenido principal -->
<div class="container">
  <div class="page-header text-center">
    <h3> <%= @user.whole_name %> <br><small><%= @user.email %></small></h3>
  </div>

  <div class="container">
    <% if @user=="vendedor" %>
      <%= render template: 'profile/edit_seller' %> -->
    <% else %>
      <%= render template: 'profile/edit_user' %>
    <% end %>
  </div>
</div>

<%= render template: 'profile/modals' %>