<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "what the gift?!", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <%= render 'layouts/dropdown' %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<% if current_user && current_user.class.to_s == 'User' %>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner container">
        <ul class="nav">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Amigos <i class="caret"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Mis amigos", friends_path %></li>
                <li><%= link_to "Buscar", '/friends/search' %></li>
              </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Productos <i class="caret"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Productos disponibles", '/products/search' %></li>
              </ul>
          </li>
          <li><%= link_to "Mis regalos", '/gifts' %></li>
        </ul>
    </div>
  </div>

<% elsif current_user && current_user.class.to_s == 'Admin' %>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner container">
      <ul class="nav">
        <li><%= link_to "Usuarios", admin_user_edit_path %></li>
        <li><%= link_to "Vendedores", admin_seller_edit_path %></li>
        <li><%= link_to "Productos", admin_product_edit_path %></li>
        <li><%= link_to "Categorías", admin_category_edit_path %></li>
      </ul>
    </div>
  </div>

<% elsif current_user && current_user.class.to_s == 'Seller' %>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner container">
      <ul class="nav">
        <li><%= link_to "Mis productos", '/my-products' %></li>
        <li><%= link_to "Productos", '/products/search' %></li>
      </ul>
    </div>
  </div>

<% end %>

<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Inicia sesión</h3>
  </div>
  <div class="modal-body">
    <%= form_for(:session, url: sessions_path, class: 'form-horizontal') do |f| %>
      <!-- Usuario -->
      <div class="control-group">
        <%= f.label :email, 'Nombre de usuario' %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>
      <!-- Contraseña -->
      <div class="control-group">
        <%= f.label :password, class: 'Contraseña' %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Olvidé usuario y contraseña</button>
    <%= f.submit "Iniciar sesión", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>

<script>
function displayLoginForm()
  {
      $('#loginModal').modal('toggle');
  }
</script>
