<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "What the Gift?!", root_path, id: "logo", style: "font-family: 'DancingScript', cursive; font-weight: 300;" %>
      <nav>
        <ul class="nav pull-right">
          <%= render 'layouts/dropdown' %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<% if current_user && current_user.class.to_s == 'User' %>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner container">
        <ul class="nav">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Amigos <i class="caret"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Mis amigos", friends_path %></li>
                <li><%= link_to "Buscar", '/friends/search' %></li>
              </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Productos <i class="caret"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Productos disponibles", '/products/search' %></li>
              </ul>
          </li>
          <li><%= link_to "Mis regalos", '/my-gifts' %></li>
        </ul>
    </div>
  </div>

<% elsif current_user && current_user.class.to_s == 'Admin' %>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner container">
      <ul class="nav">
        <li><%= link_to "Usuarios", admin_user_edit_path %></li>
        <li><%= link_to "Vendedores", admin_seller_edit_path %></li>
        <li><%= link_to "Productos", admin_selling_product_edit_path %></li>
        <li><%= link_to "Categorías", admin_category_edit_path %></li>
      </ul>
    </div>
  </div>

<% elsif current_user && current_user.class.to_s == 'Seller' %>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner container">
      <ul class="nav">
        <li><%= link_to "Mis productos", '/my-products' %></li>
        <li><%= link_to "Productos", '/products/search' %></li>
      </ul>
    </div>
  </div>

<% end %>
