<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "what the gift?!", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
      <!-- <li><%= link_to "Iniciar sesión", '#', onclick: "$('#loginModal').modal('toggle');" %></li>
          <li><%= link_to "Registrarse", signup_path %></li>
          <li><a href="#">Salir</a></li> -->
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= "#{current_user.first_name} #{current_user.last_name}" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", current_user %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Cerrar sesión", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Iniciar sesión", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<% if current_user && current_user._type == 'User' %>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner container">
        <ul class="nav">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Amigos <i class="caret"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Mis amigos", friends_path %></li>
                <li><%= link_to "Buscar", '/friends/search' %></li>
              </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Productos <i class="caret"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Productos disponibles", '/products/search' %></li>
              </ul>
          </li>
          <li><%= link_to "Mis regalos", '/gifts' %></li>
        </ul>
    </div>
  </div>

<% elsif current_user && current_user._type == 'Admin' %>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner container">
      <ul class="nav">
        <li><%= link_to "Vendedores", '/sellers' %></li>
        <li><%= link_to "Productos", '/products' %></li>
        <li><%= link_to "Categorías", '/categories' %></li>
        <li><%= link_to "Usuarios", '/users' %></li>
      </ul>
    </div>
  </div>

<% elsif current_user && current_user._type == 'Seller' %>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner container">
      <ul class="nav">
        <li><%= link_to "Mis productos", '/my-products' %></li>
        <li><%= link_to "Productos", '/products/search' %></li>
      </ul>
    </div>
  </div>

<% end %>

<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Inicia sesión</h3>
  </div>
  <div class="modal-body">
    <%= form_for(:session, url: sessions_path, class: 'form-horizontal') do |f| %>
      <!-- Usuario -->
      <div class="control-group">
        <%= f.label :email, 'Nombre de usuario' %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>
      <!-- Contraseña -->
      <div class="control-group">
        <%= f.label :password, class: 'Contraseña' %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Olvidé usuario y contraseña</button>
    <%= f.submit "Iniciar sesión", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>

<script>
function displayLoginForm()
  {
      $('#loginModal').modal('toggle');
  }
</script>
