<%= inside_layout "application" do %>
	<div class="page-header">
	    <h1><%=@friend.whole_name%></h1>
	</div>

	<div class="row">
		<div class="span3">
			<div class="tabbable tabs-left">
			    <ul class="nav nav-tabs">
			        <li <%= yield :activefriendprofile %>>
			        	<a href="/friends/<%=@friend.id%>">
			        		<i class="icon-user"></i> 
			        		Perfil
			        	</a>
			        </li>
			        <li <%= yield :activefriendwishlist %>>
			        	<a href="/friends/<%=@friend.id%>/make-a-gift">
			        		<i class="icon-star"></i> 
			        		Hacele un regalo!
			        	</a>
			        </li>
			        <li <%= yield :activefriendgifts %>>
			        	<a href="/friends/<%=@friend.id%>/gifts">
			        		<i class="icon-gift"></i>
			        		Regalos recibidos
			        	</a>
			        </li>
			    </ul>
			</div>
		</div>
	    <div class="span9">
		    <%= yield %>
		</div>
	</div>
<% end %>