<%= inside_layout "application" do %>
	<div class="tabbable">
	    <ul class="nav nav-tabs">
	      <li <%= yield :activeprofile %>><a href="/profile"><i class="icon-user"></i> Perfil</a></li>
	      <li <%= yield :activewishlist %>><a href="/wishlist"><i class="icon-star"></i> Wish-list</a></li>
		  <li <%= yield :activegifts %>><a href="/my-gifts"><i class="icon-gift"></i> Regalos recibidos</a></li>
	    </ul>
	    <div class="tab-content">
	    	<%= yield %>
	    </div>
	</div>
<% end %>